.App {
  text-align: center;
  width: 100%;
  height: 100%;
  flex: 1;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container{
  display: flex;
  flex: 1;
  height: 1024px;
  max-height: 100%;
  width: 100%;
  flex-direction: row;
  /* background: Vertical linear-gradient #081221 to #03080f; */
  background: linear-gradient(#081221, #03080f);
  padding: 15;
  color: white;
}

.Container .left{
  width: 30%;
  height: 100%;
}

.Container .right{
  flex: 1;
  height: 100%;
}

.Container .left .card{
  padding: 15;
  background: #0e1a2b;
}
.Container .left .card .content{
  display: block;
  text-align: left;
}
.Container .left .card input {
  background: #182c47;
}